---
layout: default
---

<section style="padding:0 20px;line-height: 1.5">
	
	<br>
	<h1>Ronaldo David Gomes Gligan.</h1>

	<p>Hey! I'm <b>Ronaldo David Gomes Gligan</b> and I work as a
	<b>Programmer</b> from the age of 8, I like too much the web but I
	also know C (Arduino), PHP &amp; Python.</p>

	<style>.links a::after { content: "→"; }</style>
	<div class="links">
		<span class="link">
		  Check out my <a href="./blog">Blog</a>
		</span>
		<span class="link">
		  Look at my <a href="#" onclick="openModalSocial()">Social Networks</a>
		</span>
		<!--<span class="link">
		  Read more <a href="./about">About me</a>
		</span>-->
		<span class="link">
		  See my <a href="https://instagram.com/linux_rdgg/" target="_blank" rel="nofollow">Gallery</a>
		</span>
	</div>
	
	<p>I have over four years of experience <b>designing webs</b> (blogs, systems, webapps...), mobile apps with <b>react native</b> and designing desktop apps with <b>electron</b>. </p>

  	<p>I'm not very active in my <a href="/social">social profiles</a>, but sometimes <b>I upload very good things</b> that you probably like. Click in these icons to make me happy:</p>

	{% include grilla_social.html %}
	
	<h2>Articles <small style="color: grey">EN & ES</small></h2>
	<p>Apart from programming I like to <b>write</b>. I have written
	several books and guides and soon there will be many interesting things, here I leave
	you my knowledge:</p>

	<div class="posts">
		{% for post in site.posts limit:6 %}
			<div class="post">
				{% if post.thumb %}
					<a href="{{ post.url | prepend: site.baseurl | prepend: site.url }}">
						<img src="{{ post.thumb }}" alt="{{ post.title }}">
					</a>
				{% endif %}
				<a href="{{ post.url | prepend: site.baseurl | prepend: site.url }}">
					<p class="tit-post">{{ post.title }}</p>
				</a>
				<span>{{ post.date | date: "%d %b, %Y" }}</span>
			</div>
		{% endfor %}
	</div>
	
	<a href="./blog" class="more_a">
		<button class="more">Read More</button>
	</a>

</section>
