<div class="footer">
  <span class="block">&copy; {{ site.time | date: '%Y' }} {{ site.author_name }}</span>
  <span class="block">✉ <a href="mailto:ronaldo@gligan.info">ronaldo@gligan.info</a></span>
  <!-- <span class="block"><small>&lt;/&gt;</small></span> -->
</div>

{% if site.mathjax %}
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.2/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
{% endif %}

<script async src="https://www.googletagmanager.com/gtag/js?id=UA-127417093-1"></script>
<script>
  (function(h,o,t,j,a,r){
      h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
      h._hjSettings={hjid:1214337,hjsv:6};
      a=o.getElementsByTagName('head')[0];
      r=o.createElement('script');r.async=1;
      r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
      a.appendChild(r);
  })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');

	window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'UA-127417093-1');
</script>
