<aside class="logo">
	
	<!-- <a href="/"><p>Ronaldo David Gomes Gligan.</p></a> -->

	<!-- {% if page.url == '/index.html' or page.url == '/' %}
		{% assign link = '/about' %}
		{% assign prompt = 'About me' %}
	{% else %}
		{% assign link = '/' %}
		{% assign prompt = 'Back Home' %}
	{% endif %} -->

	<!-- <a class="menu" href="#" class="toggle_menu"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-menu"><line x1="3" y1="12" x2="21" y2="12"></line><line x1="3" y1="6" x2="21" y2="6"></line><line x1="3" y1="18" x2="21" y2="18"></line></svg></a> -->
	<!-- <a class="img" href="{{ link | prepend: site.baseurl | prepend: site.url }}">
		<img src="{{ site.logo_url }}" class="logo-avatar">
	</a> -->
	<!-- <span class="logo-prompt code">{{ prompt }}</span> -->

</aside>
