
@import "../assets/inter/inter.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
}

body {
  font-family: "Inter", "Fira Sans", "Roboto", "Segoe UI", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  opacity: .8;
}

code, .code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace, "Inter";
}

strike {
    opacity: .6666;
}

.App {
  // font-size: calc(10px + 2vmin);
  font-size: 14px;
  line-height: 1.5;
  font-weight: 400;
}

@mixin ancho ($max, $marginVer) {
  width: calc(100% - 50px) !important;
  max-width: $max !important;
  margin: $marginVer auto;
}

.App-main {

  & > * {
    @include ancho(680px, 25px);
  }

  p {
    text-align: justify;
    font-size: 105%;
  }

  a {
    font-weight: 500;
    color: #000;
    text-decoration: none;
    border-bottom: 1px #000 dashed;
  }

  & h1 {
    // font-size: 52.5px;
    font-size: calc(680px / 12.885);
    letter-spacing: -0.05em;
    font-weight: 800;
    line-height: 1.1;
    margin-left: -2px;
    display: inline-block;
    opacity: .95;
  }

  .left-indicator {
    position: relative !important;
    padding-left: 100px;
    margin: 30px auto;
  }

  h2.txt {
    top: 0;
    left: 0;
    width: 90px;
    height: 100%;
    margin-right: 10px;
    position: absolute;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 10px;
    opacity: .5333328; // 66.6666% of 80% of 100%
    display: flex;
    align-items: center;
    justify-content: left;
    border-right: 1px solid #aaa;
  }

  .social-icons {
    display: flex;
    width: 100%;
    // justify-content: center;

    & > a {
      width: 30px !important;
      height: 30px !important;
      stroke-width: 1.5 !important;
      cursor: pointer;
      opacity: .5333328;
      margin-right: 15px;
      margin-top: 15px;
      border-bottom: none;
      
      & > .feather {
        color: #000;
        opacity: .6666;
        transition: .2s;
      }

      &:hover > .feather {
        stroke-width: 2 !important;
        transform: scale(1.25);
        opacity: 1;
      }

    }
  }

}

.App-body {
  @include ancho(1000px, 50px);
}

.logo {
  & > a {
    opacity: .5;
    font-weight: 900;
    font-size: 20px;
    border-bottom: 0;
  }
}

.articles {
  & > a div {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 200px;
    flex-direction: column;
    margin: 20px 0;

    & > span.cover {
      position: absolute;
      width: 100%;
      height: 100%;
      background-size: 100%;
      background-position: center center;
      background-repeat: none;
      transition: .3s;
    }
    & > .title {
      color: #fff;
      font-weight: 900;
      font-size: 30px;
      text-transform: uppercase;
      padding: 10px 21px 0 21px;
      text-align: center;
      text-shadow: 0 0 25px rgba(0, 0, 0, .8);
      transition: .2s;
    }
    & > .info {
      color: #fff;
      font-weight: 600;
      text-shadow: 0 0 10px rgba(0, 0, 0, .8);
      transition: .1s;
      padding-bottom: 10px;
      & > .author { display: none }
    }

    &:hover {
      span.cover {
        filter: grayscale(100%);
        background-size: 120%;
      }
      .title {
        transform: skew(5deg);
      }
      .date { display: none }
      .author { display: block }
    }
  }
}

button.articlesbtn {
  border: 2px solid #aaa;
  background: #fff;
  font-family: "Inter";
  font-weight: 500;
  font-size: 15px;
  padding: 10px 20px;
  width: 100%;
  cursor: pointer;
  margin-top: 20px;
}

.time.code {
  display: none;
}

@media screen and (max-width: 680px) {
   time.code { display: none; }
  .time.code { display: block; }

  .articles {
    & > div { min-height: 100px }
    .title {
      font-size: 22px !important;
    }
  }
  .left-indicator {
    padding-top: 10px;
    padding-left: 0 !important;
    & > .txt {
      position: inherit !important;
      border-right: 0 !important;
      border-bottom: 1px solid #aaa;
      height: 20px;
      width: 100% !important;
      padding-bottom: 5px;
      margin-bottom: 20px;
    }
  }
  .social-icons {
    justify-content: space-between;
  }
  .App-main h1 {
    font-size: 45px;
  }

  .articles section,
  section.a, section.b {
    flex: 2;
    width: 100% !important;
    padding: 0 !important;
  }

}

img, .cover, .article-cover {
  animation: fadeIn 1s;
}

@keyframes fadeIn {
  from { opacity: 0 }
  to { opacity: 1 }
}

ol {
  counter-reset: my-awesome-counter;
  list-style: none;
}
ul, ol {
  margin: 5px 0;
  padding-left: 30px;
}

ul li, ol li {
  margin: 16px 0;
  word-wrap: break-word;
  position: relative;
  padding-left: 25px;
}

li {
  list-style-type: none;
  padding: 2px 0;
}

ul li::before, ol li::before {
    content: '\2014';
    color: #a0a0a0;
    position: absolute;
    left: 0;
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

hr {
  display: block;
  border: 0;
  margin: 30px 0;
  border-top: 1px solid rgba(0,0,0,.2);
  border-bottom: 1px solid rgba(255,255,255,.4);
}


center {
  // Esto son las descripciones de imágenes
  margin-top: -10px !important;
  & em, & i {
    opacity: .5;
    font-size: 12px;
  }
}

pre {
  overflow: auto;
}